.App {
  display: flex;
  flex-direction: column;
}

.containers {
    margin-left: 5%;
    display: flex;
}

.container-left {
    margin: 1%;
    padding: 2%;
}

.container-right {
    margin: 1%;
    padding: 3%;
}

.modal-button {
    margin: 4%;
}

.body {
    margin: 0;
}

.page-header {
    margin: 0;
    padding-left: 10em;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: whitesmoke;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
}
.userdata {
    display: flex;
    align-items: baseline
}

.action-row ul {
    display: flex;
    width: 500px;
    justify-content: space-around;
    list-style: none
}

.action-row ul li svg {
    height: 30px;
    width: 30px;
}

.access-control input {
    height: 30px;
    width: 30px;
}

.userdata img {
    height: 70px;
    width: 100px;
    object-fit: contain;
}

.transcription img {
    height: 300px;
    border: 1px solid whitesmoke;
}

.comments textarea {
    height: 100px;
    width: 500px;
    border: 1px solid lightgrey;
}

.header-back-button {
    padding-right: 10em;
}

.flexible-modal {
  text-align: center;
  position: absolute;
  z-index: 1;
  border: 1px solid #ccc;
  background: white;
}

.save-button {
    position: relative;
    top: 5%;
}

.button-row {
    margin: 1em;
    width: 150px;
    display: flex;

    justify-content: space-between;
}

.comments {
    margin: 1em;
    width: 200px;
    display: flex;
    justify-content: space-between;
}

/*
.flexible-modal-mask {
  position: fixed;
  height: 100%;
  background: rgba(55, 55, 55, 0.6);
  top:0;
  left:0;
  right:0;
  bottom:0;
}
*/

.flexible-modal-resizer {
  position:absolute;
  right:0;
  bottom:0;
  cursor:se-resize;
  margin:5px;
  border-bottom: solid 2px #333;
  border-right: solid 2px #333;
}
.flexible-modal-drag-area{
  background: rgba(0, 0, 0, 0.2);
  height: 50px;
  position:absolute;
  right:0;
  top:0;
  cursor:move;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
