.App {
  display: flex;
  flex-direction: column;
}

.containers {
    margin-left: 5%;
    display: flex;
}

.container-left {
    margin: 1%;
    padding: 2%;
}

.container-right {
    margin: 1%;
    padding: 3%;
}

.modal-button {
    margin: 4%;
}

.body {
    margin: 0;
    justify-content: unset;
    position: relative;
    top: 3%;
}

.page-header {
    margin: 0;
    padding-left: 10em;
}

.video-player video {
    height: 500px;
    width: 300px;
    object-fit: fill;
}

.asset-video-player video {
    height: 80px;
    width: 80px;
    object-fit: cover;
}

.check-add-asset-row {
    display: flex;
    align-items:baseline;
    justify-content: space-between;
}

.asset-detail-list {
    display: flex;
    overflow: hidden;
    margin: 1em;
    padding: 0;
}

.bucket-detail {
    overflow: scroll !important;
    border-top: 1px solid whitesmoke;
    border-bottom: 1px solid whitesmoke;
}

.asset-name {
    font-weight: bolder;
    padding-left: 5px;
}

.asset-notes {
    padding-left: 5px;
}

.add-asset-btn {
    text-align: initial;
    margin-right: 1em;
}

/* #m3 {
    display: flex;
    flex-direction: column;
} */

.buckets {
    /* position: relative;
    top: 10%;
    right: 100%; */
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: whitesmoke;
    margin-bottom: 20px;
    align-items: center;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.2);
}
.userdata {
    display: flex;
    align-items: baseline
}

.action-row ul {
    display: flex;
    width: 300px;
    padding: 0;
    justify-content: space-around;
    list-style: none
}

.playlist-name {

}

.checkboxes {
    /* overflow: scroll; */
    height: 300px;
}

.checkboxes ul {
    list-style: none;
    overflow: scroll !important;
    height: 100%;
}

.checkbox label {
    display: flex;

}
.action-row ul li svg {
    height: 30px;
    width: 30px;
}

.bucket-input {
    display: flex;
    padding-left: 20px;
    margin: 10px;
}


.bucket-input svg {
    margin-right: 10px;
}

.bucket-input svg:hover {
    margin-right: 10px;
    cursor: pointer;
}

.close-modal-btn {
    position: absolute;
    top: 2%;
    right: 4%;
    z-index: 10000
}

.tag-input {
    display: flex;
    padding-left: 20px;
    margin: 10px;
}
.tag-input svg {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}
.tag-input svg:hover {
    cursor: pointer;
}

.bucket-input svg {
    height: 30px;
    width: 30px;
}

.access-control input {
    height: 30px;
    width: 30px;
}

.access-control {
    width: 300px;
}

.userdata img {
    height: 70px;
    width: 100px;
    object-fit: contain;
}

.transcription img {
    height: 300px;
    border: 1px solid whitesmoke;
}

.comments {
    width: 100%;
}
.comments textarea {
    height: 100px;
    border: 1px solid lightgrey;
}

.header-back-button {
    padding-right: 10em;
}

.flexible-modal {
  text-align: center;
  position: absolute;
  z-index: 1;
  border: 1px solid #ccc;
  background: white;
  /* height: 500px !important; */
  /* overflow: scroll !important; */
}



.save-button {
    position: relative;
    top: 5%;
}

.button-row {
    margin: 1em;
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.comments {
    padding-top: 2em;
    width: 450px;
    display: flex;
    justify-content: space-between;
}

/*
.flexible-modal-mask {
  position: fixed;
  height: 100%;
  background: rgba(55, 55, 55, 0.6);
  top:0;
  left:0;
  right:0;
  bottom:0;
}
*/


.bucket-modal {
    background: white;
    border: 1px solid lightgrey;
    height: 100%;
    /* overflow: scroll; */
    padding-bottom: 20px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.4);
}

.tag-modal {
    background: white;
    border: 1px solid lightgrey;
    height: 100%;
    overflow: scroll;
    padding-bottom: 20px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.4);
}

.attributes-modal {
    background: white;
    border: 1px solid lightgrey;
    height: 100%;
    overflow: scroll;
    padding-bottom: 20px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.4);
}

.data-modal {
    background: white;
    border: 1px solid lightgrey;
    height: 100%;
    overflow: scroll;
    padding-bottom: 20px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.4);
}

.bucket-modal h3 {
    position: absolute;
    text-align: center;
}

.playlist-header {
    padding-bottom: 10px;
    background-color: lightgrey;
    height: 60px;
    position: relative;
    overflow:hidden;
    display: flex;
    justify-content: center;
}
.flexible-modal-resizer {
  position:absolute;
  right:0;
  bottom:0;
  cursor:se-resize;
  margin:5px;
  border-bottom: solid 2px #333;
  border-right: solid 2px #333;
}

.flexible-modal-drag-area{
  background: rgba(0, 0, 0, 0.0);
  height: 50px;
  position:absolute;
  right:0;
  top:0;
  cursor:move;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
